Project Files\Attendance System Final\build
*.class
*.class
Project Files\Grading System Final\build
*.class
Project Files\Registration System Final\build
/Project Files/Registration System Final/dist/
Project Files\WindowTest\build
Project Files/Window Test/build/classes/testPackage/mahFrame1.class
Project Files/Window Test/build/classes/testPackage/mahFrame1$2.class
Project Files/~$er Manual Enrollment.docx
/Project Files/Book Keeping System/nbproject/private/
/Project Files/Book Keeping System/build/
/Project Files/Book Keeping System/dist/
/Project Files/Weighing System Final/nbproject/private/
/Project Files/Weighing System Final/build/